*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body{
  height:100%;
  width: 100%;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

body {
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
  background: #fff url(../images/bg-picture.png) right 231px top 137px no-repeat;
  background-attachment: fixed; 
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.content_style {
  margin-left: 30rem;
  max-width: 785px;
}

aside{
  float: left;
  margin-left: 341px;
  width: 410px;
}

.aside_menu{
    font-family: 'Francois One';
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;  
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 8px;
}

.aside_menu a {
  text-decoration: none;
  color: #000000;
}

.flex_side{
  display: flex;
  flex-direction: column;
  gap: 41px;
 }


.header_style {
  margin-bottom: 94px; 
}


h1 {
  font-family: 'Francois One';
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 38px;
  padding-top: 16px;
  position: relative;
  right: 100px;
}

h1::before {
  content: '';
  display: inline-block;
  width: 100px;
  height: 8px;
  background: #000000;
  position: relative;
  bottom: 59px;
  left: 101px;  
}

.abbr {
  font-family: 'Tourney';
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.06em;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 45px;
}

.staat {
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 22px;
  line-height: 27.5px;
  letter-spacing: 0.03em;
  color: #000;
  text-decoration: none;
}

span.staat {
  padding: 0 3px;
}

.end_staat {
  margin-right: 593px;
}

sup {
  font-family: 'Farro';
  font-weight: 300;
  font-size: 19px;
  line-height: 17px;
  letter-spacing: 0.0em;
  text-transform: none;
  vertical-align: text-top;
}

.text_link{
  color:#000;
}

i {
  font-family: PT Sans;
}

b {
  font-family: PT Sans;
  font-weight: 700;
}

mark {
  display: inline-block;
  background-color: lightgrey;
  display: inline-block;
  height: 48px;
}

section {
  margin-bottom: 82px;
  padding-left: 285px;
}

.phrase {
  margin-top: 35px;
  margin-bottom: 31px;
}

ul li {
  margin-bottom: 30px;
}

.indent_li {
  margin-bottom: 32px;
}

.padding_li {
  padding-top: 9px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

