*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body{
    height:100%;
    width: 100%;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif; 
 
}

<<<<<<< HEAD
.container {
    width: 90%;
=======
.conteiner {
    width: 100%;
>>>>>>> 4ba0e25a5a891949528eb10a78724b6962ab05c3
    max-width: 1200px;
    margin: 0 auto;
}

<<<<<<< HEAD
.page_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%; 
}


main{
   flex-grow: 1;
}
 
=======
>>>>>>> 4ba0e25a5a891949528eb10a78724b6962ab05c3

#header {
    height: 80px;
    line-height: 80px;
    margin-bottom: 68px;  
}

.top_logo{
    display: flex;
    align-items: center;
    gap: 11.94px;
}


.main_menu{
    display: flex;
    width: 352px;
    gap: 20px;
    align-items: center;
}

.top_menu  {
    list-style: none;
    display:flex;
    justify-content: space-between;   
}

.top_menu ul li a {
    text-decoration: none;
    color: #2F281E;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;  
  }

.top_menu ul li a:hover {
    color:#FF9900;
}

.sign_buttons{
    display: flex;
    gap: 32px;
}

.first_screen{
    margin-bottom: 96px;
}

.font_edit{
    display: inline-block;
    height: 46px;
    line-height: 46px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
    margin: 0 auto;
    font-weight: 600;
    font-size: 16px;
<<<<<<< HEAD
=======
    font-family: "Monserrat", sans-serif;
>>>>>>> 4ba0e25a5a891949528eb10a78724b6962ab05c3
    margin-top: 17px;
    line-height: 20px;
}

.active_buttons{
    display: flex;
    width: 252px;
    gap: 32px;
}

.active_buttons :hover{
    background-color: azure;
    color:#000;       
}

.sign_in{ 
    background-color: #fff;
    color: #2F281E;
    border: 1px solid #BCD0E5;
    padding: 13px 25px;
    border-radius: 4px;
  }

.sign_up{
    background-color: #FF9900;
    color: #fff;
    border: 1px solid #FF9900;
<<<<<<< HEAD
=======
    border-radius: 4px;
    padding: 13px 25px;
>>>>>>> 4ba0e25a5a891949528eb10a78724b6962ab05c3
  }

.started_bot{
    background-color: #FF9900;
    color: #fff;
<<<<<<< HEAD
    font-weight: 600;
=======
    font-weight: 700;
>>>>>>> 4ba0e25a5a891949528eb10a78724b6962ab05c3
    border: 1px solid #FF9900;
    border-radius: 4px;
    padding: 14px 25px;
    width: 180px;
    height: 50px;
}

.center_bottom{
    margin: 0 514px;
<<<<<<< HEAD
    margin-bottom: 74px;
=======
>>>>>>> 4ba0e25a5a891949528eb10a78724b6962ab05c3
}

.people{
    width: 982px;
    height: 500px;
}

h1{
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;
    margin-right: 56px;
    padding-top: 100px;
}

h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 43.88px;
    width: 539px;
    text-align: center;
    margin: 0 330px;
    margin-bottom: 48.72px;
}

h3{
    font-weight: 600;
    font-size: 22px;
    line-height: 26.82px;
    margin-bottom: 16px;
}

<<<<<<< HEAD
h4{
    font-weight: 700;
    font-size: 20px;
    font-family: Gotham, sans-serif;
    line-height: 29px;
    margin-bottom: 33px;
}

=======
>>>>>>> 4ba0e25a5a891949528eb10a78724b6962ab05c3
.flex_img{
    display: flex;
}

.text{
    font-size: 18px;
<<<<<<< HEAD
    font-weight: 500;
=======
    font-weight: 400;
>>>>>>> 4ba0e25a5a891949528eb10a78724b6962ab05c3
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    max-width: 500px;
    margin-right: 56px;
    margin-bottom: 11px;
}


.started_bot:hover{
    background-color: azure;
    color: #000;
}

.tools_icon{
<<<<<<< HEAD
    margin-bottom: 31px; 
=======
    margin-bottom: 30px; 
>>>>>>> 4ba0e25a5a891949528eb10a78724b6962ab05c3
}

.flex_designer_services{
    display: flex;
    margin-bottom: 70px;
}

.tools {
    background: url("./image/BG.png") center bottom/cover no-repeat;
}

.word_width{
    margin-bottom: 0px;
<<<<<<< HEAD
    width: 270px;
    height: 54px;
    font-size: 16px;
    margin-right: 40px;
}


footer{
    height: 209px;
    padding-bottom: 70px;  
}

    
.footer_flex{
    display: flex;
    justify-content: space-between;   
}

.links_list{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.stuff_list{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.form{
    display: flex;
    flex-direction: column;
}

.end_logo {
    display: flex;
    gap: 11.94px;
    align-self: flex-start;
}

.margin_end {
    margin-bottom: 24px;
    max-width: 280px;
}

.field {
    width: 340px;
    height: 50px;
    padding-left: 10px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    color: #BCD0E5;
    margin-bottom: 8px;
}

.bold_but{
    margin-right: 160px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    
}
.margin_quick{
    margin-right: 19px;
} 

.margin_stuff{
    margin-right: 25px;
}
=======
    width: 257px;
    height: 52px;
    font-size: 16px;
}
>>>>>>> 4ba0e25a5a891949528eb10a78724b6962ab05c3
