* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 151px);
}

.line::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 210px;
  background-color: #FFCC00;
  margin-bottom: 9px;
}

.line::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 210px;
  background-color: #FFCC00;
  margin-bottom: 9px;
}

.intro {
  font-family: "Raleway";
  color: #898F8F;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-weight: 500;
  position: relative;
  margin-bottom: 40px;
}
.intro .intro_name {
  color: #FFCC00;
  font-family: Roboto;
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  margin-bottom: 35px;
}

.intro_describe {
  margin-bottom: 19px;
}

.geniuse_name {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #666666;
  margin-bottom: 52px;
  margin-left: 25px;
}

.geniuse_name::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 100px;
  background-color: #FFCC00;
  position: relative;
  top: 31px;
  right: 168px;
}

.geniuse_photo {
  grid-area: 1/1/4/5;
  position: relative;
  bottom: 135px;
  left: 74px;
}

.photo_position {
  position: relative;
  padding: 10px 10px;
}

.geniuse_profession {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 25px;
  margin-right: 73px;
}

.social {
  margin-bottom: 53px;
  margin-right: 71px;
}

.geniuse_social {
  color: #CCCCCC;
  font-size: 19px;
  border: 2px solid #CCCCCC;
  border-radius: 20px;
  padding: 3px 4px;
  margin-bottom: 49px;
  position: relative;
}

.geniuse_social:hover {
  color: #FFCC00;
  border: 2px solid #FFCC00;
}

span.icon-face {
  font-size: 14px;
  padding: 5px;
}

span.icon-gp {
  font-size: 14px;
  padding: 4px 3px;
}

.geniuse_describe {
  color: #333333;
  font-family: "Raleway";
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  width: 430px;
  margin-bottom: 16px;
  padding-right: 13px;
}

.about_info {
  grid-area: 1/3/6/6;
  text-align: center;
  border-left: 1px solid #FFCC00;
  padding-left: 91px;
  padding-top: 65px;
  margin-left: 117px;
  height: 560px;
}

#square_left {
  width: 100px;
  height: 100px;
  background: #fff;
  border-top: 1px solid #FFCC00;
  border-left: 1px solid #FFCC00;
  position: relative;
  right: 4px;
  top: 194px;
}

#square_right {
  width: 100px;
  height: 100px;
  background: #fff;
  border-top: 1px solid #FFCC00;
  border-right: 1px solid #FFCC00;
  position: relative;
  left: 326px;
  top: 95px;
}

#square_left_bot {
  width: 100px;
  height: 100px;
  background: #fff;
  border-left: 1px solid #FFCC00;
  border-bottom: 1px solid #FFCC00;
  position: relative;
  bottom: 95px;
  right: 5px;
  z-index: -1;
}

#square_right_bot {
  width: 100px;
  height: 100px;
  background: #fff;
  border-right: 1px solid #FFCC00;
  border-bottom: 1px solid #FFCC00;
  position: relative;
  bottom: 194px;
  left: 326px;
  z-index: -1;
}

.dash_line {
  border-top: 5px dashed #FFCC00;
  width: 45px;
  margin-left: 187px;
  margin-bottom: 27px;
}

.link_profile {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #666666;
  text-transform: uppercase;
  border: 1px solid #FFCC00;
  padding: 2px 12px;
  margin-right: 73px;
}